@model EntityLayer.Concrete.Skill
@{
    ViewBag.Title = "UpdateSkill";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yeni Yetenek Ekle</h2>
@using (Html.BeginForm("UpdateSkill", "Skill", FormMethod.Post))
{
    <div class="form-group">
        @Html.HiddenFor(x => x.SkillID)
        @Html.Label("Yetenek Adı")
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
        <br />
        @Html.Label("Yeteneğin Değeri (100 Üzerinden)")
        @Html.TextBoxFor(x => x.Value, new { @class = "form-control" })
        <br />
        <button class="btn btn-success">Yetenek Ekle</button>
    </div>
}